<div class="container mt-4">
    <h3>Nuevo Producto</h3>
    <hr />
    <div class="row">
        <div class="col-6">
            <form (submit)="addProducto(newID, newNombre, newDescripcion, newFechaVencimiento, newIDProveedor)"  class="form-controler p-4">
                <div class="form-group">
                    <h5>ID</h5>
                    <input class="form-control" #newID required>
                </div>
                <div class="form-group">
                    <h5>Nombre</h5>
                    <input class="form-control" #newNombre required>
                </div>
                <div class="form-group">
                    <h5>Descripción</h5>
                    <textarea class="form-control" rows="3" #newDescripcion required  placeholder="El mejor producto de todo el mercado..."></textarea>
                </div>
                <div class="form-group">
                    <h5>Fecha de Vencimiento</h5>
                    <input class="form-control" #newFechaVencimiento required type="date">
                </div>
                <div class="form-group">
                    
                    <h5>ID del Proveedor</h5>
                    <input class="form-control" #newIDProveedor required>
                </div>
                <button class="btn btn-primary" >Agregar</button>
            </form>
        </div>
        <div class="col-6">

        </div>
    </div>
</div>