<div class="container mt-4">
    <h3>Productos</h3>
    <a class="text-primary alert-link" [routerLink]="['../addProductos']">¿Quieres agregar un Producto?</a>
    <br />
    <br />
     <div>            
        <table class="table">
            <thead>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Fecha de venci  miento</th>
                <th>ID del Proveedor</th>
            </thead>
            <tbody>

            </tbody>
        </table>
        
     </div>
 </div>