<div class="container mt-4">
    <h3>Productos</h3>
    <a class="text-primary alert-link" [routerLink]="['../addProductos']">¿Quieres agregar un Producto?</a>
    <br />
    <br />
     <div>            
        <table class="table">
            <thead>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Fecha de vencimiento</th>
                <th>ID del Proveedor</th>
            </thead>
            <tbody>
                <tr *ngFor="let producto of productos">
                    <td>{{producto.ID}}</td>
                    <td>{{producto.Nombre}}</td>
                    <td>{{producto.Descripcion}}</td>
                    <td>{{producto.FechaVencimiento}}</td>
                    <td>{{producto.ID_Producto}}</td>
                </tr>
            </tbody>
        </table>
        
     </div>
 </div>