<div class="container mt-4">
    <h3>Eliminar Proveedor</h3>
    <a class="text-primary alert-link" [routerLink]="['../addProveedores']">¿Quieres agregar un proveedor?</a>
    <br />
    <br />
    <div class="row">
        <div class="col-6">
            <form class="form-controler border p-5">
                <div class="form-group">
                    <h5>ID</h5>
                    <input class="form-control" value="{{ID}}"  readonly>
                </div>
                <div class="form-group">
                    <h5>Nombre</h5>
                    <input class="form-control" value="{{Nombre}}"readonly>
                </div>
                <div class="form-group">
                    <h5>Direccion</h5>
                    <input class="form-control" value="{{Direccion}}"readonly>
                </div>
                <div class="form-group">
                    <h5>Telefono</h5>
                    <input class="form-control" value="{{Telefono}}"readonly>
                </div>
                <button name="Editar" value="0" type="submit" class="btn btn-primary"[routerLink]="['../modifProveedores']">Volver</button>
                <button name="Eliminar" value="1" type="submit" class="btn btn-danger" *ngIf="ruta" [routerLink]="['../verProveedores']" (click)=" DeleteProveedor()" >Eliminar</button>
            </form>
        </div>

        <div class="col-6">
            <h5 class="text-primary">Selecciona el Proveedor</h5>
            <form class="row">
                <select  name="Posicion" [(ngModel)] = "seleccionado" (click)="getProveedor()" class="col-9 form-control">
                    
                    <option [value]="proveedor.ID" *ngFor="let proveedor of proveedores">{{proveedor.Nombre}}</option>

                </select>
            </form>
        </div>
    </div>
</div>