<div class="container">
    <div class="mt-5">
        <h3>Modificar Proveedor</h3>
    </div>
    <div class="row mt-5">
        <div class="col-6 ">
            <div class="bg-primary div-pp p-5">
                <h3>Editar Proveedor</h3>
                <p class="p-pp">Ven y edita tu proveedor!</p>
                <button class="btn btn-PP" [routerLink]="['../editProveedores']">Editar</button>
            </div>
        </div>
        <div class="col-6 ">
            <div class="bg-primary div-pp p-5">
                <h3>Eliminar Proveedor</h3>
                <p class="p-pp">Ya vas a Eliminar un Proveedor?</p>
                <button class="btn btn-PP" [routerLink]="['../eliProveedores']">Eliminar</button>
            </div>
        </div>
    </div>
</div>
