 <div class="container mt-4">
    <h3>Proveedores</h3>
    <a class="text-primary alert-link" [routerLink]="['../addProveedores']">¿Quieres agregar un proveedor?</a>
    <br />
    <br />
     <div>            
        <table class="table">
            <thead>
                <th>ID</th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Telefono</th>
            </thead>
            <tbody>
                <tr *ngFor="let proveedor of proveedores">
                    <td>{{proveedor.ID}}</td>
                    <td>{{proveedor.Nombre}}</td>
                    <td>{{proveedor.Direccion}}</td>
                    <td>{{proveedor.NumeroTelefono}}</td>
                </tr>
            </tbody>
        </table>
     </div>
 </div>